.dots-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 74px);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fcd34d;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.dot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.dot:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #fcd34d;
    -webkit-box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
    box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #f59e0b;
    -webkit-box-shadow: 0 0 0 10px rgba(251, 191, 36, 0);
    box-shadow: 0 0 0 10px rgba(251, 191, 36, 0);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #fcd34d;
    -webkit-box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
    box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #fcd34d;
    -webkit-box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
    box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #f59e0b;
    -webkit-box-shadow: 0 0 0 10px rgba(251, 191, 36, 0);
    box-shadow: 0 0 0 10px rgba(251, 191, 36, 0);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #fcd34d;
    -webkit-box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
    box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.7);
  }
}
