.pumpCartQuantity {
  animation: pump 300ms ease-in-out;
}
@keyframes pump {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  03% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
